* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    background:orange;
    color: black;
    padding: 15px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: WHITE;
    text-decoration: none;
    margin-left: 70px;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: #f4f6f8;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 20px 20px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}


.courses {
    padding: 40px;
    text-align: center;
}

.course-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.course-card {
    background:orange;
    padding: 20px;
    width: 220px;
    border-radius: 8px;
  
}

.course-card button {
    margin-top: 10px;
    padding: 8px;
    width: 100%;
    background:blue;
    color: white;
    border: none;
    cursor: pointer;
}
 button:hover {
      background: red;
    }
h1:hover {
      background: red;
    }

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px; 
}